<html>
    <head></head>
    <body>
        <button onclick="window.location.href='/attempt'">Attempts </button>
        <button onclick="window.location.href='/start'">Start Quiz</button>
        <button onclick="window.location.href='/logout'">Logout</button>
    
    </body>
</html>