<html>
    <head></head>
    <body>
        <form action="/signup" method="post">
            Username : <input type="text" name="username"><br/><br/>
            Age : <input type="number" name="age"><br/><br/>
            Gender : <input type="text" name="gender"><br/><br/>
            Password : <input type="password" name="password"><br/><br/>
            Confirm Password : <input type="password" name="cpassword"><br/><br/>
            <button>Submit</button>
        </form>
    </body>
</html>